# GOAT Testnet3
GOAT_RPC_URL=https://rpc.testnet3.goat.network
GOAT_CHAIN_ID=48816
GOAT_TREASURY_PRIVATE_KEY=

# x402 merchant
GOATX402_API_URL=https://x402-api-lx58aabp0r.testnet3.goat.network
GOATX402_MERCHANT_ID=clawfra
GOATX402_API_KEY=
GOATX402_RECEIVE_WALLET=0x06775Da6b393B1cD99c6f9CF710f4b0fBf341b87

# App
APP_ENCRYPTION_KEY=
PORT=3000
